App-logo.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px 0;
  margin: auto auto 10px;
}

.App-header p {
  margin: auto 5px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  width: 80%;
  margin: 0 auto;
}
.restaurant-list .toggle-button {
  margin: 0 0 5px;
  padding: 1px 6px;
}
.restaurant-list img.add-to-order {
  width: 25px;
  cursor: pointer;
}
.restaurant-list {
  list-style: none;
  margin: 30px auto 0;
}

.restaurant-list li {
  border-bottom: #61dafb solid 1px;
  margin: 10px 0;
}

.restaurant-list li li:last-child {
  border-bottom: none;
}
.restaurant-list li li.menu-list-item {
  display: flex;
  justify-content: space-between;
  border: none;
  width: 80%;
}
.cart {
  padding: 10px;
  min-width: 300px;
}
.cart .food-list {
  border-bottom: #61dafb solid 1px;
  margin: 20px auto 0;
}
.cart .cart-total h3 {
  text-align: center;
}
.cart .restaurant-title,
.cart .total-price {
  display: inline-block;
}

.cart button {
  margin: 5px 10px;
}

p.empty-msg {
  margin: auto;
  font-family: Helvetica;
  font-size: 20px;
}
.order-detail h3 {
  text-align: center;
}
.order-detail ul {
  list-style: none;
}
.order-detail button {
  padding: 5px;
  margin: 0 auto 10px;
  font-size: 12px;
}
.order-detail span {
  font-weight: bold;
}
.order-detail .order-in-list {
  padding-left: 0;
}
